* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.cart {
    flex: 0 0 250px;
    display: flex;

    height: 365px;
    background-color: rgb(13, 173, 13);
    margin: 10px;

    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.relative {
    position: relative;
    background-color: blueviolet;
    width: 40px;
    height: 27px;
    top: 1px;
    left: 5px;

    border-radius: 3px;
    text-align: center;
    border: 2px dotted red;
}

.container {
    display: flex;


    flex-wrap: wrap;

    align-items: start;
    row-gap: 50px;

    padding: 15px 0;

}

.chead {
    background-color: gold;
    height: 40px;
    justify-content: space-between;
    border: 1px solid rgb(186, 127, 127);
    padding: 15px;
    display: flex;
    border-radius: 10px;
    /* margin: 3px; */
}

ul>li {
    display: flex;
    margin: 10px;
    text-align: center;
}

body {
    background: #aaa;
}