* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.cart {
    flex: 0 0 200px;
    display: flex;

    height: 350px;
    background-color: rgb(13, 173, 13);
    margin: 10px;
    justify-content: center;
    border-radius: 10px;
    flex-wrap: wrap;

}

.container {
    display: flex;
    justify-content: space-around;
    /* flex-direction: row; */
    flex-wrap: wrap;

    align-items: start;
    row-gap: 50px;

    padding: 15px 0;
    background: #aaa;
}

.chead {
    background-color: gold;
    height: 40px;
    justify-content: space-around;
    border: 1px solid rgb(186, 127, 127);
    padding: 15px;
    display: flex;
    border-radius: 10px;
    margin: 3px;
}

ul>li {
    display: flex;
    margin: 10px;
}

body {
    background: #aaa;
}