* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.cart {
    display: flex;
    width: 250px;
    height: 400px;
    background-color: green;
    margin: 10px;
    justify-content: center;

}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.chead {
    background-color: gold;
    height: 40px;
    justify-content: center;
    border: 1px solid black;
    padding: 25px;
    display: flex;
}